[submodule "Node/node_modules/socket.io-client"]
	path = Node/node_modules/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "Node/node_modules/socket.io-node"]
	path = Node/node_modules/socket.io-node
	url = git://github.com/LearnBoost/socket.io.git
